h1{
  color:#f00;
}
.errors-view{
  text-align: left;
  color:#000;
  font-size: 22px;

  .test-icon{
    display: inline-block;
    width:20px;
    height:20px;
    background: url(../assets/images/mdf_evaluate1@2x.png) no-repeat;
    background-size: cover;
  }
}
