<mui-panel>
  <header class="content-header">
    后台人员权限管理_列表页
    <mui-divider></mui-divider>
    <div class="pull-right">
      <mui-button color="primary" ng-click="vm.doCreate()">添加账号</mui-button>
    </div>
  </header>


  <!--filter-area start-->

  <div class="col-xs-4">
    <mui-input ng-model="list.keywords" hint="姓名/手机号/分机号"></mui-input>
  </div>
  <mui-button color="primary">搜索</mui-button>
  <mui-button color="accent">清除</mui-button>

  <!--filter-area end-->

  <div class="blank10"></div>

  <!--list-detail start-->


  <div class="list-detail">
    <table class="mui-table mui-table--bordered">
      <thead>
      <tr class="bg-info">
        <th width="20%">姓名</th>
        <th width="20%">手机号</th>
        <th width="20%">分机号</th>
        <th width="40%">操作</th>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="item in list.list" ng-if="list.list.length>0">
        <td>{{item.realname}}</td>
        <td>{{item.mobile}}</td>
        <td>{{item.extension_number}}</td>
        <td>
          <mui-button color="primary" ng-click="list.doUpdate(item.user_id)">修改详情</mui-button>
          <button color="success" ng-click="list.doResetPassword(item.user_id)">重置密码</button>
          <button color="danger" ng-click="list.doCloseAccount(item.user_id)">关闭账号</button>
        </td>
      </tr>
      <tr ng-if="list.list==0">
        <td colspan="5">
          <div class="alert alert-success row" role="alert">
            <p>
                <span>
                  <i class="glyphicon glyphicon-sunglasses"></i> 啥也木有~
                </span>
              <mui-button>重新搜索吧</mui-button>
            </p>
          </div>
        </td>
      </tr>


      </tbody>
    </table>

  </div>
  <!--list-detail end-->


</mui-panel>
