@import 'bower_components/webkit-sassui-layout-tmb/dist/webkit-sassui-layout-tmb.scss';
html,body,.app-container,.wrapper{
  height:100%
}
.main-header{
  //color:#000;
}

.wrapper{
  @include webkit-sassui-layout-tmb-position(68px,auto,70px);
  .main-content{
    >*{
      position: absolute;
      top:0;
      bottom:0;
      padding:20px;
    }
    >.side{
      background: #eee;
    }
    >.content{
      right:0;
      background: #efe;
    }
  }
}
